body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.sidebar{
    background-color: black;
    width: 400px;
    border-radius: 1rem;
    
}
.maincontent{
    background-color: rgba(18,18,18,255);
    margin: 1.3rem 0.5rem 0.5rem 0.5rem;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
}


.main{
    display: flex;
    height: 100vh;
}
a{
    text-decoration: none;
    color: white;
}
.nav{
    background-color: rgba(18,18,18,255);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    margin: 1.3rem 0.5rem 0.5rem 0.5rem;
}
.navoption{
    line-height: 2.5rem;
    opacity: 0.7;
    font-weight: 600;
}
.navoption i{
    font-size: 1.25rem;
}
.navoption a{
    font-size: 1rem;
    margin-left: 1rem;
}
.navoption:hover{
    opacity: 1;
}

.library{
    background-color: rgba(18,18,18,255);
    height: 100vh;
    margin: 0px 0.5rem 1.3rem 0.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}
.options{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.liboption img{
    height: 1.25rem;
    width: 1.25rem;
}
.liboption{
    padding-left: 1.3rem;
    padding-top: 1rem;
}
.icons{
    padding-top: 1.6rem;
    font-size: 0.1rem;
    display: flex;
}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}
.liboption a{
    padding-left: 1rem;
}
.boxp1{
    font-weight: 600;
    padding: 1%;
}
.boxp2{
    font-weight: lighter;
    padding: 1%;
    padding-bottom: 1rem;
    font-size: small;
    opacity: 0.8;
}
.box{
    background-color: rgba(31,31,31,255);
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}
.badge{
    background-color: white;
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
    font-weight: 700;
    transition: all 0.3s ease;
}
.badge:hover{
    transform: scale(1.05); 
}
.stickynav{
    padding: 1rem;
    position: sticky;
    top: 0;
    background-color: rgba(18,18,18,255);
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
.stickyicons{
    background-color: rgba(18,18,18,255);
}
.sticknavoptions button{
    margin: 1rem;
}
.darkbadge{
    color: white;
    background-color: black;
    padding: 0.6rem;
}

@media (max-width: 1000px) {
    .hide{
        display: none;
    }
}
.cardcontainer{
    display: flex;
    transition: all 0.3s ease;
    flex-wrap: wrap;

}.card:hover{
    background-color: rgba(31,31,31,255);
    border-radius: 0.5rem;
}
.card{
    width: 150px;
    padding: 1rem;
    padding-left: 1.7rem;
    margin-left: 0.5rem;
}
.cardimg{
    width: 90%;
    border-radius: 0.5rem;
}
h2{
    padding-left: 1rem;
}
.cardtitle{
    font-weight: 700;
}
.cardinfo{
    font-weight: 300;
    opacity: 0.7;
    z-index: -1;
    font-size: small;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 80%;
    height: 30%;
    border-top: 2px solid rgba(74, 74, 74, 0.5);
    margin: 2rem;
    margin-top: 5rem;
}
.musicplayer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    display: flex;
    background-color: black;
}
.currsong{
    width: 25%;
    display: flex;
}
.player{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.currimg{
    font-size: 1.5rem; 
    margin-left: 3rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}
.aboutcurrsong{
    margin-left: 1rem;
    margin: 1rem;
}
.currname{
    margin-bottom: 0.2rem;
}
.like{
    padding: 1.5rem;
    opacity: 0.7;
}
.like:hover{
    transform: scale(1.2);
    opacity: 1;
}
.playbackbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playercontrols {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playercontrolicon{
    height: 1rem;
    width: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    opacity: 0.7;
}
.playercontrolicon:hover{
    opacity: 1;
}
.pause{
    margin-bottom: 0;
}
.progressbar{
    width: 20rem;
    appearance: none ;
    background-color: transparent;
    cursor: pointer;
}
.progressbar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progressbar::-webkit-slider-thumb{
    margin-top: -6.5px;
    appearance: none;
    background-color: green;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}
.operations{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.operations i{
    margin: 1rem;
}